@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --primary-blue: #2b59ff;
  --primary-black: #2B2C35;
}

* {
  margin: 0;
  padding: 2px 5px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 5;
  position: relative;
  z-index: 0;
  max-width: 1440px;
  margin: 0 auto;
}

.hero__title {
  font-weight: 800;
  font-size: 3.1rem;
}

.hero__subtitle {
  font-size: 1.8rem;
  color: rgb(0 0 0 0.5);
  font-weight: 300;
  margin: 1.25rem 0; /* 20px */
}

.hero__image {
  position: relative;
  width: 90%;
  height: 37rem;
  z-index: 0;
}

.hero__image-container {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
}

.hero__image-overlay {
  position: absolute;
  right: -25%;
  background-image: url("/hero-bg.png");
  background-repeat: round;
  z-index: -10;
  width: 100%;
  height: 37rem;
  overflow: hidden;
}

.headerButtonStyles {
  color: var(--primary-blue);
  border-radius: 9999px;
  background-color: white;
  min-width: 130px;
  border-color: white;
}

.landingPageButtonStyles {
  background-color: var(--primary-blue);
  color: white;
  border-radius: 9999px;
  margin-top: 2.5rem;
}

.custom-btn {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  outline: 1px solid transparent;
  outline-offset: 1px;
  border: none;
}

/* footer */

.footer__links {
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.footer__link {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1rem;
  min-width: 10rem;
}

.footer__copyrights-link {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

/* xl */
@media screen and (min-width: 1280px) {
  .hero {
    flex-direction: row;
  }

  .hero__image-container {
    flex: 1.5;
    height: 100vh;
  }

  .hero__image {
    width: 100%;
    height: 100%;
  }
  .hero__image-overlay {
    top: -6rem;
    right: -45%;
    height: 100vh;
  }
}

/* home */

.home__text-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  row-gap: 0.625rem;
  color: var(--primary-black);
}

.home__filters{
  margin-top: 3rem;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: space-between;
}

.home__filter-container{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.searchbar{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  position: relative;
  max-width: 48rem;
}

.searchbar__item{
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.search-manufacturer{
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}
.search-manufacturer__input{
  width: 100%;
  height: 3rem;
  padding-left: 3rem;
  padding: 1rem;
  border-top-left-radius: 9999px; 
  border-bottom-left-radius: 9999px;
  background-color: rgba(59, 60, 152, 0.07);
  outline: 2px solid transparent; 
  outline-offset: 2px;
  cursor: pointer;
  font-size: 0.875rem;
  border: none;
}

.search-manufacturer__options{
  position: absolute;
  margin-top: 0.25rem;
  max-height: 15rem;
  width: 100%;
  overflow: auto;
  border-radius: 0.375rem;
  background-color: white;
  padding: 0.25rem 0;
  font-size: 1rem;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0,0,0,0.1), 0 4px 6px -4px rgb(0,0,0,0.1);

}

.search-manufacturer__option{
  cursor: default;
  user-select: none;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
}



/* 2xl */
@media screen and (min-width: 1536px) {
  .hero__title {
    font-size: 4.3rem;
  }
}

/* md */
@media screen and (min-width: 768px) {
  .footer__links {
    justify-content: end;
  }
}
@media screen and (max-width: 768px) {
  .footer__links {
    margin-top: 2.5rem;
  }
}

/* sm */
@media screen and (min-width: 640px) {
  .hero__title {
    font-size: 4rem;
  }

  .footer__copyrights-link {
    justify-content: end;
  }
}
@media screen and (max-width: 640px) {
  .footer__copyrights-link {
    margin-top: 1rem;
  }
  .searchbar{
    flex-direction: column;
    gap: 1rem;
  }
  
  .searchbar__item{
    width: 100%;
  }

  .search-manufacturer{
    width: 100%;
  }
  .search-manufacturer__input{
    border-radius: 9999px;
  }
}
