@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root{
  --primary-blue: #2B59FF
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 5;
  position: relative;
  z-index: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title{
  font-weight: 800;
  font-size: 3.1rem;
}

.hero__subtitle{
  font-size: 1.8rem;
  color: rgb(0 0 0 0.5);
  font-weight: 300;
  margin: 1.25rem 0; /* 20px */
}

.landingPageButtonStyles {
  background-color: var(--primary-blue);
  color: white;
  border-radius: 9999px;
  margin-top: 2.5rem;
}

.custom-btn{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  
}

/* xl */
@media screen and (min-width: 1280px){
  .hero{
    flex-direction: row;
  }
}


/* 2xl */
@media screen and (min-width: 1536px){
  .hero__title{
    font-size: 4.3rem;
  }
}


/* sm */
@media screen and (min-width: 640px){
  .hero__title{
    font-size: 4rem;
  }
}
