.modalOverley {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 2000;
  
  
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.bgBlur {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(4px);
  z-index: 999;
  padding: 0;
  margin: 0;
  transition: all 5s ease;
}

.modalContent {
  background-color: white;
  padding: 1.5rem;
  border-radius: 50px;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 32rem;
  max-height: 90vh;
  background-color: bisque;
  animation: 250ms ease-in modal-animation-in;
  transition: all 250ms ease;
  overflow-y: auto;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgb(0,0,0,0.1), 0 8px 10px -6px rgb(0,0,0,0.1);
  margin: 0 0.5rem;
  
}

.modalAnimationOut{
  animation: 250ms ease-out modal-animation-out;
 
}

.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.backgroundImageContainer{
  position: relative;
  height: 10rem;
  width: 100%;
  background-image: url(../../public/pattern.png);
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
}


@keyframes modal-animation-in {
  from {
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

@keyframes modal-animation-out {
  from {
    transform: scale(1);
  }
  to{
    transform: scale(0);
  }
}

@media screen and (min-width: 1280px){
  .modalContent{
    width: 70vw;
  }
}
