.modalOverley{
    position: fixed;
    top: 18rem;
    left: 1rem;
    bottom: 0;
    right: 0;
    width: 20rem;
    height: 5rem;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    transition: all 1s ease-in;
    
}

.bgBlur{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(3px);
    z-index: 999;
}



.modalContent{
    background-color: white;
    padding: 1.5rem;
    border-radius: 50px;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}