.transitionLeave {
  transition: all ease-in 100ms;
}
.transitionLeaveFrom {
  opacity: 0;
}

.manufacterersCombo {
  position: relative;
}
.activeOption {
  background-color: var(--primary-blue);
  color: white;
}

.unActiveOption {
  color: rgb(17, 24, 39);
}

.spanOneStyle {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spanTwoStyle {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
}
