

.searchButtonContainer {
    margin-left: -0.75rem;
    z-index: 10;
    border: none;
    border-width: 0.4px;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 217, 217);
    border-radius: var(--complete);
    width: 8rem;
    cursor: pointer;
    transition: background-color 250ms ease;
}

.desktopClass{
    background-color: var(--primary-blue);
}

@media screen and (min-width: 640px) {
     .searchButtonContainer {
       width: 5rem;
       margin-left: 0.5rem;
    } 
}

@media screen and (min-width: 768px) {
    .searchButtonContainer:hover {
       background-color: white;
    }
}


