.showMoreContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin-top: 1.5rem;
}

.stylesForButton{
    background-color: var(--primary-blue);
    border-radius: 9999px;
    color: white;
    
}